# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# PyTorch
*.pth
*.pt
checkpoints/
runs/
logs/

# Dataset (troppo grande!)
701_StillsRaw_full/ 
LabeledApproved_full/
CamVid/
CamVid_organized/ 

# Video
*.mp4

# Maschere preprocessate
*.npy


# OS
.DS_Store
Thumbs.db

# TensorBoard
events.out.tfevents.*

